* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: rgb(250, 140, 159);
  text-align: center;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 3px 15px;
  font-weight: 500;
}

input {
  width: 10%;
  height: 3vh;
}

label {
  font-weight: 500;
}

.todoBox {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
